services:
  # Backend API
  - type: web
    name: pesante-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        value: mongodb+srv://pesante_admin:Asford254@project.ju5j3qr.mongodb.net/pesante_db?retryWrites=true&w=majority
      - key: ADMIN_USERNAME
        value: admin
      - key: ADMIN_PASSWORD
        value: pesante254
      - key: JWT_SECRET
        value: pesanteSuperSecretKey
      - key: CONTACT_EMAIL
        value: mwangiasford12@gmail.com
      - key: CONTACT_EMAIL_PASS
        value: mwangi2024
      - key: FRONTEND_URLS
        value: https://pesante-enterprices-main-1.onrender.com,http://localhost:5174

  # Frontend (Static Site)
  - type: static
    name: pesante-frontend
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        value: https://pesante-backend.onrender.com/api